python_telegram_bot==12.8
gTTS==2.0.3
PyYAML==5.4
telegram==0.0.1
requests==2.32.0
face_recognition
beautifulsoup4==4.7.1
certifi==2024.7.4
chardet==3.0.4
future==0.18.3
idna==3.7
requests-toolbelt==0.9.1
urllib3==1.26.19

PySocks==1.6.8
