python_telegram_bot==12.8
gTTS==2.0.3
PyYAML==5.1
telegram==0.0.1
requests==2.21.0
face_recognition
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
future==0.17.1
idna==2.8
requests-toolbelt==0.9.1
urllib3==1.24.2

PySocks==1.6.8
